# Feuille tableaux 2D

In [ ]:
#include <iostream>
#include <vector>
using namespace std;

## Exercice 1: construction pas à pas d'un tableau 2D: les quatre étapes
- Déclarer un tableau d'entiers `t` à deux dimensions; donc de type `vector<vector<int>>`:

In [ ]:
// Insérer ici votre code

- Remarquer qu'il est vide:

In [ ]:
t

In [ ]:
t.size()

- On alloue `t` pour qu'il ait trois lignes:

In [ ]:
t = vector<vector<int>>(3);

- Vérifions:

In [ ]:
t

Les valeurs @... sont les adresses en mémoire des lignes. Si on regarde leurs contenus, on constate que les trois lignes sont vides:

In [ ]:
t[0]

In [ ]:
t[1]

In [ ]:
t[2]

- On alloue la première ligne pour qu'elle ait deux éléments

In [ ]:
t[0] = vector<int>(2);

- Allouer de même les deux autres lignes:

In [ ]:
// Insérer ici votre code

- La valeur de quelle ligne et quelle colonne est elle changée par l'affectation suivante?

In [ ]:
t[0][1] = 1

- Vérifier:

In [ ]:
t[0]

- Mettre la valeur 42 en troisième ligne et première colonne

In [ ]:
// Insérer ici votre code

- Vérifier:

In [ ]:
t[2]

## Example de construction et affichage d'un plus gros tableau 2D

- Pour afficher joliment un tableau, on doit gérer l'allignement vertical. Cela peut se faire en `C++` avec `setw`. Exécuter le code suivant en variant le paramètre de `setw`:

In [ ]:
for ( int i = 0; i < 10; i++ ) {
    for ( int j = 0; j < 10; j++ )
        cout << setw(3) << i + j << " ";
    cout << endl;
}

- Les cellules suivantes construisent un tableau à deux dimensions et l'affichent. Annoter chaque cellule avec un commentaire précisant quelle étape de la construction elle effectue (initialisation, allocation des lignes, déclaration, allocation; dans quel ordre?)

In [ ]:
int L = 10;
int C = 10;

In [ ]:
vector<vector<int>> tableMultiplication;

In [ ]:
tableMultiplication = vector<vector<int>>(L);

In [ ]:
for ( int i = 0; i < L; i++ ) {
    tableMultiplication[i] = vector<int>(C);
}

In [ ]:
for ( int i = 0; i < L; i++ ) {
    for ( int j = 0; j < C; j++ ) {
        tableMultiplication[i][j] = i * j;
    }
}

In [ ]:
tableMultiplication[6][9]

In [ ]:
for ( int i = 0; i < L; i++ ) {
    for ( int j = 0; j < C; j++ ) {
        cout << setw(2) << tableMultiplication[i][j] << " ";
    }
    cout << endl;
}